.app {
  display: flex;
  padding: 20px;
  flex-direction: column;
  background: white;
  border-radius: 10px;
}

.appBorder {
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  position: relative;
  background: linear-gradient(to bottom,#d252f5, #c24242);
}

.title {
  font-size: 48px;
  font-weight: bold;
}
.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.icon {
  width: 400px;
}
.entry {
  height: 24px;
  width: 200px;
}
.result {
  font-size: 72px;
  margin-top: 128px;
}